<a href="https://colab.research.google.com/github/melodymeow/PYTH225_Homework/blob/master/basic_data_types_psets_melody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:

a1 = None

# You're writing a program, and you don't know what your starting value for your
# 'initial' variable is yet. The program won't run if you leave it blank, 
#but you don't want to forget you need it! Make a workaround.



### P2.PY

In [0]:
"""
Basic Variables
"""
fav_num = 6 
print (fav_num)
# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.


fav_color = "purple"
print (fav_color)
# Create another variable that represents your favorite color, and do the same steps as above.

6
purple



### P3.PY

In [0]:
"""
String Formatting
"""
num_bottles = 99
lyrics = f"""
{num_bottles} bottles of beer on the wall,
take one down,
pass it around,
{num_bottles - 1} bottles of beer on the wall.
"""

print (lyrics)
# Create a variable that contains the first 4 lines of lyrics from your favorite 
# song. Add a comment that includes the song title and artist **each on their own
# line**! Now print out this variable.

99 bottles of beer on the wall,
take one down,
pass it around,
98 bottles of beer on the wall.

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50
latest_score += 50
print(latest_score)


# Subtract 90
latest_score -= 90
print(latest_score)


# Multiply 10
latest_score *= 10
print(latest_score)


# Divide 150
latest_score /= 150
print(latest_score)


# Modulus 3
latest_score %= 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""
a = "I will go to the beach today,"
b = "and I will go snorkeling."
print (a+b)

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

I will go to the beach today,and I will go snorkeling.



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2
print (a + b)


# B)
c = '0'
d = '2'
print (c + d)


# C)
e = '0'
f = 2
print (e + f)

2
02

TypeError: ignored



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True
print (a + b)


# B)
c = False
d = False
print (c + d)


# C)
e = True
f = False
print (e + f)

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five = float(five)
zero = float (zero)
neg_8 = float (neg_8)
neg_22 = float (neg_22)

print (five, "is of type", type(five))
print (zero, "is of type", type(zero))
print (neg_8, "is of type", type(neg_8))
print (neg_22, "is of type", type(neg_22))

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
neg_22 = int(neg_22)

print (five, "is of type", type(five))
print (zero, "is of type", type(zero))
print (neg_8, "is of type", type(neg_8))
print (neg_22, "is of type", type(neg_22))

5.0 is of type <class 'float'>
0.0 is of type <class 'float'>
-8.0 is of type <class 'float'>
-22.0 is of type <class 'float'>
5 is of type <class 'int'>
0 is of type <class 'int'>
-8 is of type <class 'int'>
-22 is of type <class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
#Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five = str(five)
zero = str(zero)
neg_8 = str(neg_8)
T = str(T)
F = str(F)

print (five, "is of type", type(five))
print (zero, "is of type", type(zero))
print (neg_8, "is of type", type(neg_8))
print (T, "is of type", type(T))
print (F, "is of type", type(F))

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(T)
F = bool(F)


print (five, "is of type", type(five))
print (zero, "is of type", type(zero))
print (neg_8, "is of type", type(neg_8))
print (T, "is of type", type(T))
print (F, "is of type", type(F))

5 is of type <class 'str'>
0 is of type <class 'str'>
-8 is of type <class 'str'>
True is of type <class 'str'>
False is of type <class 'str'>
5 is of type <class 'int'>
0 is of type <class 'int'>
-8 is of type <class 'int'>
True is of type <class 'bool'>
True is of type <class 'bool'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(one)
zero = bool(zero)
print (one_bool, "is type of", type(one))
print (zero_bool, "is type of", type(zero))



# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
one = float(one)
zero = float(zero)
print (one, "is type of", type(one))
print (zero, "is type of", type(zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
one = bool(one)
zero = bool(zero)
print (one, "is type of", type(one))
print (zero, "is type of", type(zero))


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
one = int(one)
zero = int(zero)
print (one, "is type of", type(one))
print (zero, "is type of", type(zero))


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10
ten = bool(ten)
print (ten,"is type of", type(ten))

True is type of <class 'bool'>
False is type of <class 'bool'>
1.0 is type of <class 'float'>
0.0 is type of <class 'float'>
True is type of <class 'bool'>
False is type of <class 'bool'>
1 is type of <class 'int'>
0 is type of <class 'int'>
True is type of <class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

one = bool(one)
zero = bool(zero)
T = bool(T)
F = bool(F)
print (one,"is of type",type(one))
print (zero,"is of type",type(zero))
print (T, "is of type",type(T))
print (F, "is of type",type(F))



# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.
one = int(one)
zero = int(zero)
print (one, "is of type", type(one))
print (zero,"is of type", type(zero))


# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.
T = bool(T)
F = bool(F)
print (T, "is of type", type(T))
print (F, "is of type", type(F))

True is of type <class 'bool'>
False is of type <class 'bool'>
True is of type <class 'bool'>
False is of type <class 'bool'>
1 is of type <class 'int'>
0 is of type <class 'int'>
True is of type <class 'bool'>
False is of type <class 'bool'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'apple'
item_name_2 = 'banana'
item_name_3 = 'cherry'
item_name_4 = 'pear'
item_name_5 = 'orange'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 3.5
item_price_2 = 1.99
item_price_3 = 3.25
item_price_4 = 2.99
item_price_5 = 2.0

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 10
item_quant_2 = 5
item_quant_3 = 12
item_quant_4 = 8
item_quant_5 = 15

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2
print (item_quant_1, item_name_1,"=",item_price_1*item_quant_1)
print (item_quant_2, item_name_2,"=",item_price_2*item_quant_2)
print (item_quant_3, item_name_3,"=",item_price_3*item_quant_3)
print (item_quant_4, item_name_4,"=",item_price_4*item_quant_4)
print (item_quant_5, item_name_5,"=",item_price_5*item_quant_5)

10 apple = 35.0
5 banana = 9.95
12 cherry = 39.0
8 pear = 23.92
15 orange = 30.0



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('Name your first item: ')
item_name_2 = input('Name your second item: ')
item_name_3 = input('Name your third item: ')
item_name_4 = input('Name your fourth item: ')
item_name_5 = input('Name your fifth item: ')


# use input() function and ask user to name prices
item_price_1 = float(input('Name your first price: '))
item_price_2 = float(input('Name your second price: '))
item_price_3 = float(input('Name your third price: '))
item_price_4 = float(input('Name your fourth price: '))
item_price_5 = float(input('Name your fifth price: '))

# use input() function and ask user to name quants
item_quant_1 = int(input('Name your first quantity: '))
item_quant_2 = int(input('Name your second quantity: '))
item_quant_3 = int(input('Name your third quantity: '))
item_quant_4 = int(input('Name your fourth quantity: '))
item_quant_5 = int(input('Name your fifth quantity: '))

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!
print (item_quant_1, item_name_1, "=",item_quant_1 * item_price_1)
print (item_quant_2, item_name_2, "=",item_quant_2 * item_price_2)
print (item_quant_3, item_name_3, "=",item_quant_3 * item_price_3)
print (item_quant_4, item_name_4, "=",item_quant_4 * item_price_4)
print (item_quant_5, item_name_5, "=",item_quant_5 * item_price_5)

Name your first item: apple
Name your first item: apple
Name your second item: banana
Name your third item: orange
Name your fourth item: pineapple
Name your fifth item: water
Name your first price: 1.99
Name your second price: 2.0
Name your third price: 0.99
Name your fourth price: 2.5
Name your fifth price: 3
Name your first quantity: 5
Name your second quantity: 2
Name your third quantity: 1
Name your fourth quantity: 3
Name your fifth quantity: 10
5 apple = 9.95
2 banana = 4.0
1 orange = 0.99
3 pineapple = 7.5
10 water = 30.0