<a href="https://colab.research.google.com/github/melodymeow/PYTH225_Homework/blob/master/lists_psets_MEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.

animals = ['elephant','tiger','otter','orangutan','penguin']

# Print the 4th animal on the list.
print(animals[4])

# Add 'tortoise' to the beginning of the list.
# Method 1
animals.insert(0,"tortoise")
print(animals)

# Method 2
# new_animal = 'tortoise'
# new_animal.extend(animals) -> can't do new_animal = new_animal.extend(animals) see comments below for reason

# Method 3
# anim3 = ['tortoise'] + animals -> this allows you to add a list and get a new list, but the .extend/.append/.sort is in place change, so it overwrite the list. 
# print(f'anim3 has {anim3}')

# Print the length of the list.
print(len(animals))

# Remove 'orangutan' from the list.


index = animals.index('orangutan')
animals.pop(index)

# Sort the list alphabetically and print it out.
animals.sort()
print(animals)

penguin
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ['Bob','Steve','Kelly','Alex','Tommy']
print(len(names))

# Print the 3rd name on the list
print(names[2])


# Delete the first name on the list
names_removed = names.pop(0)


# Re-add the name you deleted to the end of the list
names.append(names_removed)


# Replace the 2nd name on the list with a new name.
names[1] = 'Rob'

# Add 3 new names to the end of the list.
new_names = ['Stephen', 'Katy','Marry']
names.extend(new_names)
print(names)

5
Kelly
['Steve', 'Rob', 'Alex', 'Tommy', 'Bob', 'Stephen', 'Katy', 'Marry']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2,4,6,8]

# Print the max of `numbers`.
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.
number_removed = numbers.pop()
numbers.insert(2,number_removed)


# Pop the second number in `numbers` off.
numbers.pop(1)


# Append `3` to `numbers`.
numbers.append(3)
print(numbers)

# Print out the average number.
print(sum(numbers)/len(numbers))

8
[2, 8, 6, 3]
4.75



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.
playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.
playlist_titles.sort(reverse = True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.
import random

numbers = []
i = 1

while i < 7:
  randnum = random.randint(1,100)
  numbers.append(randnum)
  i = i + 1

numbers.sort(reverse = True)
print(numbers)

[86, 84, 84, 79, 47, 31]

## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
cell_numbers = cell.split('.')
cell_clean = ''.join(cell_numbers)
print(cell_clean)

11921680143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.
my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = my_max - my_min
my_mean = sum(nums) / len(nums)


print(f"""
my_sum = {my_sum}
my_min = {my_min}
my_max = {my_max}
my_range = {my_range}
my_mean = {my_mean}
""")

my_sum = 174
my_min = 2
my_max = 30
my_range = 28
my_mean = 17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = list1 + list1
print(list3)


# B) Combine the two given lists and assign them to list4.
list4 = list1 + list2
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = [13,16,9]
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list(set(list3 + list4))
print(list5)


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6, 2, 8, 6]
[2, 8, 6, 10, 4, 12]
[13, 16, 9, 6, 2, 8, 6]
[2, 4, 6, 8, 9, 10, 12, 13, 16]



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings[cool_runnings.index('bobsled')] = 'YOLO'
lyrics = ' '.join(cool_runnings)

lyricssplit = lyrics.split('.')

print(f'''
{lyricssplit[0]}
{lyricssplit[1]}
{lyricssplit[2]}
{lyricssplit[3]}
''')

Feel the rhythm
 Feel the rhyme
 Get on up
 It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

list1.extend(tuple1[0])
list1.extend(tuple1[1])
list1.extend(tuple1[2])

print(list1)

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "median = " etc.
import statistics
my_median = statistics.median(sample)
my_mode = statistics.mode(sample)
my_variance = statistics.variance(sample)
my_sd = statistics.stdev(sample)

print(f'''
my_median = {my_median}
my_mode = {my_mode}
my_variance = {my_variance}
my_sd = {my_sd}
''')

my_median = 19.5
my_mode = 6
my_variance = 84.17777777777778
my_sd = 9.174844836714012